<div class="row d-flex justify-content-center border-top border-1 border-secondary-subtle pt-2">
    <div class="col-12 col-md-9 d-flex justify-content-between footer">
        <div class="d-flex gap-3">
            <a class="text-secondary text-decoration-none">Privacy Policy</a>
            <a class="text-secondary text-decoration-none">Coockie Policy</a>
            <a class="text-secondary text-decoration-none">Terms of Use</a>
        </div>
        <div>
            <p class="text-secondary">&copy; 2024 Company Name. All rights reserved.</p>
        </div>
    </div>
</div>