@media (min-width: 768px) {
  :host {
    font-size: 14px;
  }
}
.login-page {
  min-height: 600px;
  height: 100vh;
}

.login-image .login-carousel{
  min-height: 100%;
}

 :host ::ng-deep .login-button{
  color: #f18a40;
  border-color: #f18a40;
}
 :host ::ng-deep .login-button:hover{
  color: #da5e05;
  border-color: #da5e05;
}

.carousel-caption{
    left: 15%;
    bottom:10%;
  }
  .carousel-item {
    position: relative;
  }
  
  .carousel-item img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .carousel-item .overlay {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%; /* Adjust the height as needed */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));  /* Darker at the bottom */
    pointer-events: none; /* Ensures the overlay does not interfere with interactions */
  }
  
  .paragraph{
    max-height: 100px; /* Set your desired max height */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
