<div class="col-12">
  <div class="row gx-0 justify-content-center login-page">
    <div class="col-md-8 d-none d-md-flex login-image h-100 p-0">
        <!-- <img
        class="h-100 w-100 justify-content-center"
        src="../../../../assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
        alt="Sustainability Image"
      />     -->
      <div id="carouselExampleIndicators" class="carousel slide login-carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner h-100">
          <div class="carousel-item active h-100">
            <img src="../../../../assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100 h-100" alt="...">
            <div class="overlay"></div>
            <div class="carousel-caption d-none d-md-block text-start">
                <h5>First slide label</h5>
                <p class="fw-light fs-6 paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet molestias totam ipsam repudiandae officia suntillum consectetur exercitationem, at ipsa animi reprehenderit, non dolor veritatis atque sit cumque repellat.</p>
              </div>
          </div>
          <div class="carousel-item h-100">
            <img src="../../../../assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100 h-100" alt="...">
            <div class="overlay"></div>
            <div class="carousel-caption d-none d-md-block text-start">
                <h5>Second slide label</h5>
                <p class="fw-light fs-6 paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam accusamus perferendis fugiat natus porro, soluta quo maiores consectetur voluptas vero obcaecati ab laborum repudiandae dolor ipsum nisi commodi fuga hic alias amet odio maxime! Accusamus commodi, illum consectetur exercitationem, at ipsa animi reprehenderit, non dolor veritatis atque sit cumque repellat.</p>
              </div>
          </div>
          <div class="carousel-item h-100">
            <img src="../../../../assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100 h-100" alt="...">
            <div class="overlay"></div>
            <div class="carousel-caption d-none d-md-block text-start">
                <h5>Third slide label</h5>
                <p class="fw-light fs-6 paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus placeat nostrum id exercitationem, minima consequuntur ipsum maxime earum ducimus adipisci enim error fuga libero autem perferendis! Sunt, dolor ea?.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-8 col-12 h-100 overflow-y-auto">
      <div class="mx-auto w-75 d-flex justify-content-center align-items-center">
        <form
          [formGroup]="registerForm"
          (ngSubmit)="register()"
          class="w-100 px-3 py-5"
        >
          <div class="form-group my-4">
            <label class="mb-1 text-secondary" for="FirstName"
              >First Name</label>
            <input type="text" pInputText class="w-100 shadow-none" formControlName="firstName" id="FirstName" placeholder="Enter First Name" appAlphabetOnly/>
          </div>
          <div class="form-group my-4">
            <label class="mb-1 text-secondary" for="LastName">Last Name</label>
            <input type="text" pInputText class="w-100 shadow-none" formControlName="lastName" id="LastName" placeholder="Enter Last Name" appAlphabetOnly/>
          </div>
          <div class="form-group my-4">
            <label class="mb-1 text-secondary" for="Email">Email address</label>
            <input type="text" pInputText class="w-100 shadow-none" formControlName="email" id="Email" placeholder="Enter Email"/>
            @if(registerForm.controls.email.invalid && (registerForm.controls.email.touched || registerForm.controls.email.dirty))
            { 
              @if(registerForm.controls.email.hasError('pattern') && !registerForm.controls.email.hasError('required')) 
              {
                <small class="p-error">Please enter a valid email</small>
              } 
              @if (registerForm.controls.email.hasError('required')) {
                <small class="p-error">Email is required</small>
              }
            }
          </div>
          <div class="form-group my-4">
            <label class="mb-1 text-secondary" for="PhoneNumber">Phone Number</label>
            <input pInputText
              type="text"
              class="w-100 shadow-none"
              id="PhoneNumber"
              placeholder="Enter Phone Number"
              formControlName="phoneNumber"
              appNumberOnly
            />
            @if((registerForm.controls.phoneNumber.touched ||
            registerForm.controls.phoneNumber.dirty) &&
            registerForm.controls.phoneNumber.invalid){ @if
            (registerForm.controls.phoneNumber.hasError('pattern') &&
            !registerForm.controls.phoneNumber.hasError('required')) {
            <small class="p-error">Please enter a valid phone number</small>
            } @if (registerForm.controls.phoneNumber.hasError('required')) {
            <small class="p-error">phone number is required</small>
            }}
          </div>
          <div class="form-group my-4">
            <label class="mb-1 text-secondary" for="password"
              >Password</label
            >
            <p-password formControlName="password" placeholder="Enter Password" inputId="Password" [styleClass]="'w-100'" [inputStyleClass]="'w-100 shadow-none'" [feedback]="false" [toggleMask]="true" />

            @if(registerForm.controls.password.invalid
            &&(registerForm.controls.password.touched ||
            registerForm.controls.password.dirty) ){ @if
            (registerForm.controls.password.hasError('pattern') &&
            !registerForm.controls.password.hasError('required')) {
            <small class="p-error"
              >Password must be at least 8 characters long, contain at least one
              uppercase letter, one lowercase letter, and one number</small
            >
            } @if (registerForm.controls.password.hasError('required')) {
            <small class="p-error">Password is required</small>
            }}
          </div>
          <div class="form-group my-4">
            <label class="mb-1 text-secondary" for="ConfirmPassword"
              >Confirm Password</label
            >
            <input
            pInputText
              type="text"
              class="w-100 shadow-none"
              id="ConfirmPassword"
              placeholder="Enter Confirm Password"
              formControlName="confirmPassword"
            />
            @if(registerForm.controls.confirmPassword.touched ||
            registerForm.controls.confirmPassword.dirty ){ @if
            (registerForm.controls.confirmPassword.hasError('required') &&
            !registerForm.controls.confirmPassword.hasError('confirmedValidator'))
            {
            <small class="p-error">Confirm password is required</small>
            } @if
            (registerForm.controls.confirmPassword.hasError('confirmedValidator')
            && !registerForm.controls.confirmPassword.hasError('required')) {
            <small class="p-error">Password doesn't match</small>
            }}
          </div>
          <div class="my-4">
              <p-button [type]="'submit'" label="Register" [outlined]="true" severity="warning" [styleClass]="'w-100 rounded-5 border-2 fw-medium fs-6 login-button'"/>
          </div>
          <div class="mt-4 mb-2 text-center text-secondary">
            Lost your password?
          </div>
          <div class="my-2 text-center text-secondary">
            Already register?
            <a class="" routerLink="/login"
              >Login now</a
            >
          </div>
        </form>
      </div>
      <div class="py-4 mx-auto d-flex justify-content-center">
        <a class="text-secondary text-decoration-none">Privacy policy</a>
      </div>
    </div>
  </div>
</div>